<div class="container">
    
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">新着情報</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#Cabinet">内閣府</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mdo">@mdo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#one">one</a>
            <a class="dropdown-item" href="#two">two</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#three">three</a>
          </div>
        </li>
      </ul>
    </nav>
    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="p-4">
      <h4 id="Cabinet">内閣府</h4>
      <br>
      
      <% i=0 %>
      <% @doc_dt.length.times do %>
        <%= @doc_dt[i].inner_text %>
        <a href= <%= @doc_href[i] %> target="blank"><%= @doc_a[i].inner_text %></a>
        <br>
        <hr>
        <% i+=1 %>
      <% end %>
        
      <h4 id="mdo">@mdo</h4>
      <p>...</p>
      <h4 id="one">one</h4>
      <p>...</p>
      <h4 id="two">two</h4>
      <p>...</p>
      <h4 id="three">three</h4>
      <p>...</p>
    </div>

</div>