<ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="calYear-tab" data-toggle="tab" href="#calYear" role="tab" aria-controls="calYear" aria-selected="false">
            暦年（名目）
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="fisYear-tab" data-toggle="tab" href="#fisYear" role="tab" aria-controls="fisYear" aria-selected="true">
            年度（名目）
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="fisYear-tab" data-toggle="tab" href="#quarter" role="tab" aria-controls="fisYear" aria-selected="true">
            四半期（名目）
        </a>
    </li>    
</ul>

<br>
<p class="text-right">【単位：億円】</p>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="calYear" role="tabpanel" aria-labelledby="calYear-tab">
        <div class="table-responsive-md">
            <table class="table table-bordered">
                <thead>
                <tr id="tableTitle_calYear" class="text-center table-primary">
                    <th>年月</th>
                </tr>
                </thead>
                <tbody id="tableData_calYaer">
                    <tr></tr>
                    <script>nea_data("時間軸（暦年）",gon.db_nominal,tableTitle_calYear,tableData_calYaer)</script>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="fisYear" role="tabpanel" aria-labelledby="fisYear-tab">
        <div class="table-responsive-md">
            <table class="table table-bordered">
                <thead>
                <tr id="tableTitle_fisYear" class="text-center table-primary">
                    <th>年月</th>
                </tr>
                </thead>
                <tbody id="tableData_fisYear">
                    <tr></tr>
                    <script>nea_data("時間軸（年度）",gon.db_nominal, tableTitle_fisYear, tableData_fisYear)</script>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="quarter" role="tabpanel" aria-labelledby="quarter-tab">
        <div class="table-responsive-md">
            <table class="table table-bordered">
                <thead>
                <tr id="tableTitle_quarter" class="text-center table-primary">
                    <th>年月</th>
                </tr>
                </thead>
                <tbody id="tableData_quarter">
                    <tr></tr>
                    <script>nea_data("時間軸（四半期）",gon.db_nominal,tableTitle_quarter,tableData_quarter)</script>
                </tbody>
            </table>
        </div>
    </div>    
    
    
</div>
</div> 