<ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="gdp-tab" data-toggle="tab" href="#gdp" role="tab" aria-controls="gdp" aria-selected="false">
            ＧＤＰを読み解く
        </a>
    </li>
</ul>

<br>
<p class="text-right">【単位：億円】</p>

<div class="tab-content" id="myTabContent">
    
    <div class="tab-pane fade show active" id="gdp" role="tabpanel" aria-labelledby="gdp-tab">
        <div class="table-responsive-md">
            <table class="table table-bordered">
                <thead>
                <tr id="tableTitle_gdp" class="text-center table-primary">
                    <th>年月</th>
                </tr>
                </thead>
                <tbody id="tableData_gdp">
                    <tr></tr>
                    
                </tbody>
            </table>
        </div>
    </div>
 
    
    
</div>
</div> 